apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hello-dotnet
  name: hello-dotnet
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-dotnet
  template:
    metadata:
      labels:
        run: hello-dotnet
    spec:
      containers:
      - name: hello-argo-demos
        image: helloworldaspnetcore:latest
        imagePullPolicy: IfNotPresent + latest
