apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-wildcard-host
  annotations:
    nginx.ingress.kubernetes.io/default-backend: ingress-nginx-controller
    ## tells ingress to check for regex in the config file
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  ingressClassName: nginx
  rules:
  - host: app1.yashdev.com
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: hello-dotnet
            port:
              number: 8081
  - host: app2.yashdev.com
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: hello-dotnet2
            port:
              number: 8082
