apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-wildcard-host
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: app1.yashdev.com
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: hello-dotnet
            port:
              number: 80
  - host: app2.yashdev.com
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: hello-dotnet2
            port:
              number: 80
