apiVersion: v1
kind: Service
metadata:
  labels:
    app: hello-dotnet2
  name: hello-dotnet2
  namespace: default
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  selector:
    app: hello-dotnet2
  type: ClusterIP
  
